.deliveryaddresscontainer{
    font-size:20px ;
    width:85%;
    margin:auto;
    letter-spacing: 0.025em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 1px solid #aaa; */
}
@media only screen and (max-width: 980px) {
    /* phone */
    .deliveryaddresscontainer{
        display:grid;
        width:93%;
    }
}

.checkboxContainer{
    margin:10px;
    padding:5px;
    border:1px solid #aaa;
}
.checkboxElement{
    width:50px;
    height:25px;
    float:left;
    margin-top:-4px;
    border:1px solid #aaa;
}

.flatNumberLabel{
float:left;
/* border:1px solid #aaa; */
margin-top:10px;
}
.landmarkLabel{
    float:left;
    /* border:1px solid #aaa; */
    margin-top:40px;
    }
.buildingNameLabel{
    float:left;
    /* border:1px solid #aaa; */
    margin-top:22px;
        }
.flatNumberElemDiv{
/* border:1px solid #aaa; */
margin-left:20px;
float:left;
}
.landmarkElemDiv{
    border:1px solid #aaa;
    margin-left:20px;
    float:left;
    margin-top:15px;
    width:40%;
    }
    @media only screen and (max-width: 980px) {
        .landmarkElemDiv{ width:90%;}
    }
    .buildingNameElemDiv{
        /* border:1px solid #aaa; */
        margin-left:20px;
        float:left;
        margin-top:15px;
        border:1px solid #aaa;
        width:40%;
        }
        @media only screen and (max-width: 980px) {
            .buildingNameElemDiv{ width:90%;}
        }
.flatNumberElement{
    padding:5px;
    line-height: 120%;
    width:30%;
    margin-top:10px;
    font-size:20px;
}
.landmarkElement{
    padding:5px;
    line-height: 120%;
    width:100%;
    height:100px;
    font-size:20px ;
}
.buildingNameElement{
    padding:5px;
    line-height: 120%;
}
.saveAddressButton{
    padding:5px;
    width:100%;
    font-size:20px ;
}

.saveAddressButtonDiv{

    margin-top:20px;
    border:1px solid #aaa;
    width:30%;
    float:left;
    margin-right:15px;
}
@media only screen and (max-width: 980px) {
    .saveAddressButtonDiv{ width:70%;}
}
.spacer{
    clear:both;
}
.errorDiv{
    width:70%;
    float:left;
    margin-top:30px;
    color: red;
}