.menuContainer{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.leftContainer{
width:79%;
float:left;
border-right:1px solid #aaa;
}
@media only screen and (max-width: 980px) {
    .leftContainer {
        width:100%;
        border-right:none;
        display:grid;
        place-items: center;
    }
}
.rightContainer{
width:20%;
float:right;
}
@media only screen and (max-width: 980px) {
  .rightpagecontainer {
      display: none;
  }
}
.customimg {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
  
  .unsetimg {
    width: 100%;
  }
  .unsetimg > div {
    position: unset !important;
  }
.chefImageContainer{
float:left;
width:30%;
margin-top:40px;

}
@media only screen and (max-width: 980px) {
  .chefImageContainer {
      width:100%;
  }
}
.chefImageInnerContainer{
    width:34%;
    margin:0 auto;
}
.chefBioContainer{
float:right;
width:69%;
margin-top:25px;
line-height: 1.4rem;
}
@media only screen and (max-width: 980px) {
  .chefBioContainer {
      width:90%;
  }
}
.menuchefimg{
    border-radius: 50%;
    
  }
.zeropadding{
    padding:0px;
    margin:0px;
  }  
.bottom10{
    margin-bottom:10px;
  }
  .top10{
    margin-top:10px;
  }
  .topbottom10{
    margin-top:10px;
    margin-bottom:10px;
  }
  .hearticon{
    float:left;
    margin-right:10px;
        }

 .menuItemContainer{
   clear:both;
   /* border:1px solid red; */
   width:95%;
   margin:0 auto;
 }    
 @media only screen and (max-width: 980px) {
  .menuItemContainer {
    width:78%;
  }
}

.clearboth{
  clear:both;
}