.cartFooter{
    position:fixed;
    bottom:0;
    left:0;
    background-color:#f3fafe;
    width:100%;
    border:1px solid #aaa;
    height:50px;
    display:grid;
    place-items: center;
  }
  @media only screen and (min-width: 980px) {
    .cartFooter {
        display: none;
        
    }
  }
  .footerContainer{
    width:90%;
    
  }
  .cartNumItems{
  float:left;
  width:10%;
  font-weight:bold;
  }
  .viewCartLink{
  float:left;
  width:68%;
  text-align: center;
  cursor: pointer;
  
  }
  .viewCartLinkAnchor{
    text-decoration: none;
    color:#111;
  }
  .cartTotalAmount{
  float:right;
  margin-left:5px;
  font-weight:bold;
  }
  .cartTotalRuppeeSymbol{
    float:right;
    font-weight:bold;
  }